@import 'settings';
@import 'common/layout';
@import 'common/typography';

/*@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);*/

@font-face {
  font-family: BMDoHyeon-OTF; 
  src: url(/site/fonts/BMDOHYEON.woff2) format('woff2'),
       url(/site/fonts/BMDOHYEON.woff) format('woff');
}

@font-face {
  font-family: NanumBarunGothic; 
  src: url(/site/fonts/NanumBarunGothic.woff2) format('woff2'),
       url(/site/fonts/NanumBarunGothic.woff) format('woff');
}

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: NanumBarunGothic;
}

html, body{
  height:100%;
  padding: 0;
}

a:hover, a:focus, a:link {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

.app {
  height: 100%;
  font-weight: normal;
  font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
}

@media all and (orientation:portrait) and (max-width:310px) {
  html {
    font-size: 5px;
  }
}

/* fold 1 */
@media all and (orientation:portrait) and (min-width:310px) and (max-width:440px) {
  html {
    font-size: 7.5px;
  }
}

@media all and (orientation:portrait) and (min-width:440px) and (max-width:660px) {
  html {
    font-size: 10px;
  }
}

/* fold 2 */
@media all and (orientation:portrait) and (min-width:660px) and (max-width:880px) {
  html {
    font-size: 7.5px;
  }
}

@media all and (orientation:portrait) and (min-width:880px) and (max-width:1100px) {
  html {
    font-size: 30px;
  }
}

/* fold 3 */
@media all and (orientation:portrait) and (min-width:1100px) and (max-width:1320px) {
  html {
    font-size: 7.5px;
  }
}

@media all and (orientation:portrait) and (min-width:1320px) {
  html {
    font-size: 10px;
  }
}


@media all and (orientation:portrait) and (max-width:310px) {
  html {
    font-size: 5px;
  }
}

/* portrait */
/* fold 1 */
@media all and (orientation:portrait) and (min-height:310px) and (max-height:440px) {
  html {
    font-size: 7.5px;
  }
}

@media all and (orientation:portrait) and (min-height:440px) and (max-height:660px) {
  html {
    font-size: 10px;
  }
}

/* fold 2 */
@media all and (orientation:portrait) and (min-height:660px) and (max-height:880px) {
  html {
    font-size: 7.5px;
  }
}

@media all and (orientation:portrait) and (min-height:880px) and (max-height:1100px) {
  html {
    font-size: 10px;
  }
}

/* fold 3 */
@media all and (orientation:portrait) and (min-height:1100px) and (max-height:1320px) {
  html {
    font-size: 7.5px;
  }
}

@media all and (orientation:portrait) and (min-height:1320px) {
  html {
    font-size: 10px;
  }
}

[role="button"] {
  cursor: pointer;
  text-decoration: none !important;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}

/* Add your global styles below... */

/* ex:

:global {
  & .red { color: red; }
  & .blue { color: blue; }
}

*/
