@import 'settings';
@import 'common/layout';
@import 'common/typography';

/*@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);*/

@font-face {
  font-family: BMDoHyeon-OTF; 
  src: url(/site/fonts/BMDOHYEON.woff2) format('woff2'),
       url(/site/fonts/BMDOHYEON.woff) format('woff');
}

@font-face {
  font-family: NanumBarunGothic; 
  src: url(/site/fonts/NanumBarunGothic.woff2) format('woff2'),
       url(/site/fonts/NanumBarunGothic.woff) format('woff');
}

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: NanumBarunGothic;
}

html, body{
  height:100%;
  padding: 0;
}


a:link {
    text-decoration: none;
}



.app {
  height: 100%;
  font-weight: normal;
  font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
}

@media all and (orientation:portrait) and (max-width:400px) {
  html {
    font-size: 7px;

  }

  img {
    width: 70%;
    background: #000;
  }
}

@media all and (orientation:portrait) and (min-width:400px) {
  html {
    font-size: 10px;
  }
}

@media all and (orientation:landscape) and (max-height:400px) {
  html {
    font-size: 7px;
  }

  img {
    width: 70%;
    background: #000;
  }
}

@media all and (orientation:landscape) and (min-height:400px) {
  html {
    font-size: 10px;
  }
}

[role="button"] {
  cursor: pointer;
}

/* Add your global styles below... */

/* ex:

:global {
  & .red { color: red; }
  & .blue { color: blue; }
}

*/
