@import 'settings';
@import 'common/layout';
@import 'common/typography';

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: var(--fontMontserrat);
}

.app {
  @apply --box;
  height: 100%;
  font-weight: normal;
  font-smoothing: antialiased;
}

@media all and (orientation:portrait) and (max-width:800px) {
  html {
    font-size: 7px;
  }
}

@media all and (orientation:portrait) and (min-width:800px) {
  html {
    font-size: 10px;
  }
}

@media all and (orientation:landscape) and (max-height:800px) {
  html {
    font-size: 7px;
  }
}

@media all and (orientation:landscape) and (min-height:800px) {
  html {
    font-size: 10px;
  }
}

/* Add your global styles below... */

/* ex:

:global {
  & .red { color: red; }
  & .blue { color: blue; }
}

*/
