.maker-round {
  text-align: center;
  font-family: NanumBarunGothic;
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #4a4a4a;
}

.maker-round-image {
  border-radius: 50%;
}