.top {
  background-color: white;
}

.part1 {
  background-color: blue;
}

.part2 {
  background-color: red;
}

.part4 {
  background-color: green;
}

.left {
  background-color: yellow;
}

.right {
  background-color: brown;
}