.layout-main {
  margin-top: 0.22rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /*margin-top: 0.53rem;*/
}

.list-main {
}

.list-item {
  width: 2.34rem;
  height: 0.20rem;
  font-family: NanumBarunGothic;
  font-size: 0.18rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b4b4b4;
  margin-bottom: 0.15rem;
}

.list-item-selected {
  color: #2c2c2c;
}

.account-section-title {
  font-family: NanumBarunGothic;
  font-size: 0.30rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2c2c;
}

.account-section-form-area {
  font-family: NanumBarunGothic;
  font-size: 0.15rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2c2c;
}

.account-section-form-area > div {
  margin-top: 0.2rem;
}

.password-button {
  font-size: 0.13rem;
  color: #ffffff;
  background-color: #b1b1b1;
}

.auth-button-fb {
  font-size: 0.13rem;
  color: #ffffff;
  background-color: #485b97;
  padding: 0;
}

.auth-button-google {
  font-size: 0.13rem;
  color: #2c2c2c;
}


