.account-main {
  margin-top: 0.22rem;
  display: flex;
}

.menu-main {
  width: 2.1rem;
}

.menu-item-selected {
  width: 101px;
  height: 20px;
  font-family: NanumBarunGothic;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2c2c;
}

.menu-item {
  width: 101px;
  height: 20px;
  font-family: NanumBarunGothic;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b4b4b4;
}