
.container {
  width: 102.4rem;
  background-color: #f4f4f4;
  box-shadow: 0 5px 55px 0 rgba(111, 110, 110, 0.5);
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.8rem 4.1rem 3.2rem;
}

.title {
  width: 25.5rem;
  height: 3.5rem;
  font-family: NanumBarunGothic;
  font-size: 3rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.details {
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
}

.detail-table {
  border: none;
}

.detail-table td{
  border:none;
}

.relative {
  position: relative;
}

/* font */

.entity-title, .entity, .entity-must, .entity-helper, .text-field, .tag-field {
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 300;
  color: #000000;
  font-family: NanumBarunGothic;
  font-size: 1rem;
}

.entity {
  font-weight: normal;
  font-size: 1.3rem;
}

.entity-title {
  font-family: AppleSDGothicNeo;
  font-weight: 800;
  font-size: 1.6rem;
}

.entity-must {
  color: #ff0000;
}


/* align */

/* size */
.entity-title, .entity {
  height: 3.0rem;
}

.entity-row {
  height: 1.5rem;
}

.tag-field, .add-tag {
  height: 2.1rem;
}

.entity-must, .entity-helper {
  height: 2rem;
}

.text-field {
  width: 32.7rem;
  height: 2.7rem;
}

.tag-field, .add-tag {
  width: 13rem;
}

/* color */

/* etc*/

.auto-complete {
  position: absolute;
  background: white;
  width: 32.7rem;
  top: 2.7rem;
  list-style-type: none;
  padding: 0;
  z-index: 9;
}

.auto-complete-word {
  padding: 0.5rem;
}

.selected {
  background: yellow;
}

.entity-title {
  width: 6.0rem;
}

.entity {
  width: 20.0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 2.6rem;
}

.tags {
  width: 59.5rem;
  padding-left: 2.6rem;
  vertical-align: top;
  flex-wrap: wrap;
}

.entity-must {
  width: 2.7rem;
  text-align: center;
  margin-top: 5px;
}

.entity-helper {
  width: 45rem;
  text-align: left;
  padding-left: 4.1rem;
}

.area {
  height: 8.1rem;
}

.text-field, .text-area, .tag-field {
  background-color: #e8e8e8;
  font-family: NanumBarunGothic;
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  border: none;
}

.text-field, .tag-field, .add-tag {
  padding: 0 1.5rem;
}

.tag-field, .add-tag {
  margin-right: 0.9rem;
  margin-bottom: 0.9rem;
}

.add-tag {
  border: dashed 1px #c2c2c2;
  font-family: NanumBarunGothic;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.1rem;
  letter-spacing: normal;
  text-align: center;
  color: #c2c2c2;
}

.text-area {
  padding: 0.6rem 1.5rem 1rem;
  width: 59.5rem;
}

.tag-delete {
  position: absolute;
  left: 11rem;
  bottom: -2px;
}

.image-area {
  width: 59.5rem;
  max-height: 22.6rem;
  overflow: auto;
  background-color: #e8e8e8;
  margin-left: 2.6rem;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-container {
  display: inline-block;
  position: relative;
  background-color: #000000;
  margin: 0 0.6rem 0.6rem 0;
}

.image-item {
  display: inline-block;
}

.image-hover{
  opacity: 0.6;
}

.image-upload-button {
  margin: 0 0.6rem 0.6rem 0;
}

.button-area {
  padding: 1.4rem 4rem 3.2rem;
  text-align: right;
}

.button {
  display: inline-block;
  border-radius: 0.8rem;
  font-family: NanumBarunGothic;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 4rem;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-shadow: 0 0.2rem 2.5rem rgba(0, 0, 0, 0.5);
}

.image-remove-button {
  position: absolute;
  right: 0;
  top: 0.1rem;
}

.cancel {
  width: 6.8rem;
  height: 4rem;
  background-color: #8a8a8a;
  margin-right: 1.3rem;
}

.save {
  width: 16.3rem;
  height: 4rem;
  background-color: #ff5b00;
}
