/* processed-version: 1.0 */

.container {
  width: 10.24rem;
  background-color: #f4f4f4;
  box-shadow: 0 0.05rem 0.55rem 0 rgba(111, 110, 110, 0.5);
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.18rem 0.41rem 0.32rem;
}

.title {
  width: 2.55rem;
  height: 0.35rem;
  font-family: NanumBarunGothic;
  font-size: 0.3rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.details {
  padding-top: 0.15rem;
  display: flex;
  align-items: center;
}

.detail-table {
  border: none;
}

.detail-table td{
  border:none;
}

/* font */

.entity-title, .entity, .entity-must, .entity-helper, .text-field, .tag-field {
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 300;
  color: #000000;
  font-family: NanumBarunGothic;
  font-size: 0.1rem;
}

.entity {
  font-weight: normal;
  font-size: 0.13rem;
}

.entity-title {
  font-family: NanumBarunGothic;
  font-weight: 800;
  font-size: 0.16rem;
}

.entity-must {
  color: #ff0000;
}


/* align */

/* size */
.entity-title, .entity {
  height: 0.3rem;
}

.entity-row {
  height: 0.15rem;
}

.tag-field, .add-tag {
  height: 0.26rem;
}

.entity-must, .entity-helper {
  height: 0.2rem;
}

.text-field {
  /*width: 3.27rem;*/
  width: 25.15em;
  height: 0.27rem;
}

.tag-field, .add-tag {
  width: 10em;
}

/* color */

/* etc*/

.entity-title {
  width: 0.6rem;
}

.switch-message {
  width: 5.0rem;
  font-family: NanumBarunGothic;
  font-size: 0.1rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 0 0 0 0.1rem;
}

.entity {
  width: 2.0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 0.26rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60em;
}

.tags {
  width: 5.95rem;
  font-size: 0.10rem;
  padding-left: 0.26rem;
  /*vertical-align: top;*/
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.entity-must {
  width: 0.27rem;
  text-align: center;
  margin-top: 0.05rem;
}

.entity-helper {
  width: 45em;
  text-align: left;
  padding-left: 0.41rem;
}

.area {
  height: 0.81rem;
}

.text-field, .text-area, .tag-field {
  background-color: #e8e8e8;
  font-family: NanumBarunGothic;
  font-size: 0.13rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  border: none;
}

.text-field, .tag-field, .add-tag {
  padding: 0.05rem 0.15rem;
}

.tag-field, .add-tag {
  margin-right: 0.09rem;
  margin-bottom: 0.09rem;
}

.add-tag {
  border: dashed 0.01rem #c2c2c2;
  font-family: NanumBarunGothic;
  font-size: 0.13rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.15rem;
  letter-spacing: normal;
  text-align: center;
  color: #c2c2c2;
}

.text-area {
  padding: 0.06rem 0.15rem 0.1rem;
  width: 5.95rem;
}

.tag-delete {
  position: absolute;
  right: 0.12rem;
  top: 0.04rem;
}

.image-area {
  width: 5.95rem;
  max-height: 2.26rem;
  overflow: auto;
  background-color: #e8e8e8;
  margin-left: 0.26rem;
  padding: 0.15rem 0.15rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-container {
  display: inline-block;
  position: relative;
  background-color: #000000;
  margin: 0 0.06rem 0.06rem 0;
}

.image-item {
  display: inline-block;
}

.image-hover{
  opacity: 0.6;
}

.image-upload-button {
  margin: 0 0.06rem 0.06rem 0;
}

.button-area {
  padding: 0.14rem 0.4rem 0.32rem;
  text-align: right;
}

.button {
  display: inline-block;
  border-radius: 0.08rem;
  font-family: NanumBarunGothic;
  font-size: 0.16rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.4rem;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-shadow: 0 0.02rem 0.25rem rgba(0, 0, 0, 0.5);
}

.image-remove-button {
  position: absolute;
  right: 0;
  top: 0.01rem;
}

.cancel {
  width: 0.68rem;
  height: 0.4rem;
  background-color: #8a8a8a;
  margin-right: 0.13rem;
}

.save {
  width: 1.63rem;
  height: 0.4rem;
  background-color: #ff5b00;
}
