.maker-tile-image-boundary {
  width: 21.3rem;
  height: 21.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tile {
  width: 66.0rem;
  height: 32.0rem;
  background-color: #ffffff;
  box-shadow: 0 .5rem 3.5rem 0 rgba(163, 163, 163, 0.5);
  display: flex;
  justify-content: flex-start;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.medium-tile {
  width: 43.7rem;
  height: 21.2rem;
}

.project-tile .header {
  font-family: NanumBarunGothic;
}

.project-tile .header {
  width: 27.0rem;
  height: 32.0rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.project-tile .header-medium {
  width: 22.5rem;
  height: 21.2rem;
}

.project-tile .header .title{
  font-family: NanumBarunGothic;
  font-size: 2.5rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.project-tile .header .title-medium {
  font-size: 2.0rem;
}

.project-tile .header .sub-title {
  width: 22rem;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  
  font-family: NanumBarunGothic;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.project-tile .header .detail-button {
  position: absolute;
  bottom: 4.4rem;
  width: 15.3rem;
  height: 5.0rem;
  border-radius: .8rem;
  border: solid .2rem #000000;

  font-family: NanumBarunGothic;
  font-size: 1.8rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 5rem;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.project-tile .header .detail-button-medium {
  bottom: 2.9rem;
  width: 13.12rem;
  height: 3.31rem;
  line-height: 3.3rem;
  font-size: 1.4rem;
}

.maker-tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 21.4rem;
  height: 29.1rem;
  background-color: #ffffff;
  box-shadow: 0 .5rem 3.5rem 0 rgba(163, 163, 163, 0.5);

  font-family: AppleSDGothicNeo;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: center;
}

.maker-tile .title {
  font-family: AppleSDGothicNeo;
  font-size: 1.7rem;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.maker-tile .header .sub-title {
  font-family: AppleSDGothicNeo;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.43;
  color: #777677;
}

.maker-tile-margin {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.company-card-section {
  display: flex;
  align-items: center;
  height: 7.3rem;
  width: 34.9rem;
  padding: 0 0.7rem;
  margin-bottom: 0.7rem;

  box-shadow: 0 .5rem 3.5rem 0 rgba(163, 163, 163, 0.5);
  background-color: #ffffff;
}

.company-card-section .text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
}

.company-card-text-section {
  padding-top: 0.3rem;
  font-family: NanumBarunGothic;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
}

.company-card-button {
  width: 12.8rem;
  height: 2.67rem;
  border-radius: .8rem;
  border: solid .1rem #000000;
}

.company-card-button-text {
  width: 100%;
  font-family: NanumBarunGothic;
  font-size: 1.1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67rem;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
