.maker-tile-image-boundary {
  width: 21.3rem;
  height: 21.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tile {
  width: 660px;
  height: 320px;
  background-color: #ffffff;
  box-shadow: 0 5px 35px 0 rgba(163, 163, 163, 0.5);
  display: flex;
  justify-content: flex-start;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.project-tile .header {
  font-family: NanumBarunGothic;
}

.project-tile .header {
  width: 270px;
  height: 320px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.project-tile .header .title{
  font-family: NanumBarunGothic;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.project-tile .header .sub-title {
  width: 22rem;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  
  font-family: NanumBarunGothic;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.project-tile .header .detail-button {
  position: absolute;
  bottom: 4.4rem;
  width: 153px;
  height: 50px;
  border-radius: 8px;
  border: solid 2px #000000;

  font-family: NanumBarunGothic;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 5rem;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.maker-tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 214px;
  height: 291px;
  background-color: #ffffff;
  box-shadow: 0 5px 35px 0 rgba(163, 163, 163, 0.5);

  font-family: AppleSDGothicNeo;
  font-size: 17px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.maker-tile .header .sub-title {
  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: #777677;
}

.maker-tile-margin {
  margin-right: 1rem;
  margin-bottom: 1rem;
}