/* processed-version: 1.0 */

.maker-tile-image-boundary {
  width: 2.13rem;
  height: 2.13rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tile {
  width: 6.6rem;
  height: 3.2rem;
  background-color: #ffffff;
  box-shadow: 0 0.05rem 0.35rem 0 rgba(163, 163, 163, 0.5);
  display: flex;
  justify-content: flex-start;
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
}

.medium-tile {
  width: 4.37rem;
  height: 2.12rem;
}

.project-tile .header {
  font-family: NanumBarunGothic;
}

.project-tile .header {
  width: 2.7rem;
  height: 3.2rem;
  padding: 0 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.project-tile .header-medium {
  width: 2.25rem;
  height: 2.12rem;
}

.project-tile .header .title{
  font-family: NanumBarunGothic;
  font-size: 0.25rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.project-tile .header .title-medium {
  font-size: 0.2rem;
}

.project-tile .header .sub-title {
  width: 2.2rem;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  
  font-family: NanumBarunGothic;
  font-size: 0.12rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.project-tile .header .detail-button {
  position: absolute;
  bottom: 0.44rem;
  width: 1.53rem;
  height: 0.5rem;
  border-radius: 0.08rem;
  border: solid 0.02rem #000000;

  font-family: NanumBarunGothic;
  font-size: 0.18rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.5rem;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.project-tile .header .detail-button-medium {
  bottom: 0.29rem;
  width: 1.312rem;
  height: 0.331rem;
  line-height: 0.33rem;
  font-size: 0.14rem;
}

.maker-tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 2.14rem;
  height: 2.91rem;
  background-color: #ffffff;
  box-shadow: 0 0.05rem 0.35rem 0 rgba(163, 163, 163, 0.5);

  font-family: NanumBarunGothic;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: center;
}

.maker-tile .title {
  font-family: NanumBarunGothic;
  font-size: 0.17rem;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.maker-tile .header .sub-title {
  font-family: NanumBarunGothic;
  font-size: 0.12rem;
  font-weight: 500;
  line-height: 1.43;
  color: #777677;
}

.maker-tile-margin {
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
}

.company-card-section {
  display: flex;
  align-items: center;
  height: 0.73rem;
  width: 3.49rem;
  padding: 0 0.07rem;
  margin-bottom: 0.07rem;

  box-shadow: 0 0.05rem 0.35rem 0 rgba(163, 163, 163, 0.5);
  background-color: #ffffff;
}

.company-card-section .text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 0.6rem;
}

.company-card-text-section {
  padding-top: 0.03rem;
  font-family: NanumBarunGothic;
  font-size: 0.15rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
}

.company-card-button {
  /*width: 1.28rem;*/
  width: 12.8em;
  height: 0.267rem;
  border-radius: 0.08rem;
  border: solid 0.01rem #000000;
  text-align: center;
  font-size: 0.11rem;
}

.company-card-button-text {
  width: 100%;
  font-family: NanumBarunGothic;
  font-size: 0.11rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.267rem;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
