/* processed-version: 1.0 */
.main-section {
  width: 3.75rem;
  height: 100%;
  padding-top: 0.16rem;
  border-right: solid 0.02rem #dddddd;
  display: flex;
  flex-direction: column;
}

.maker-area {
  display: flex;
  flex-wrap: wrap;
}

.maker-roundy {
  margin-right: 0.09rem;
  text-align: center;
}