/* processed-version: 1.0 */
.main-section {
  position: absolute;
  left: calc(50vw + 1.0rem);
  /*width: 1.23rem;
  height: 0.27rem;*/
  width: 12.3em;
  height: 2.7em;
}

.main-button {
  /*width: 1.23rem;*/
  /*height: 0.27rem;*/
  width: 13.3em;
  height: 2.7em;
  box-shadow: 0 0.05rem 0.1rem 0 rgba(179, 179, 179, 0.5);
  border: solid 0.005rem #5c5c5c;
  background-color: #ffffff;
  font-family: NanumBarunGothic;
  font-size: 0.1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.7em;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  color: #5c5c5c;
}

.popup-area {
  cursor: auto;
  position: absolute;
  left: -2.8rem;
  top: 0.45rem;
  width: 6.91rem;
  /*height: 7.74rem;*/
  box-shadow: 0 0.05rem 0.55rem 0 rgba(111, 110, 110, 0.5);
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main-area {
  width: 6.91rem;
  /*height: 7.74rem;*/
  box-shadow: 0 0.05rem 0.55rem 0 rgba(111, 110, 110, 0.5);
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.popup-area-owned {
  left: -1.8rem;
}

.small-area {
  width: 4.85rem;
}

.popup-title {
  width: 100%;
  height: 0.55rem;
  font-family: NanumBarunGothic;
  font-size: 0.15rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.55rem;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  color: #000000;
}

.popup-message {
  /*width: 4.07rem;*/
  height: 0.68rem;
  font-family: BMDoHyeon-OTF;
  font-size: 0.24rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.4rem;
  letter-spacing: normal;
  text-align: center;
  color: #33a1d6;
}

.popup-message-sub {
  font-size: 0.16rem;
}

.box {
  width: 5.92rem;
  height: 1.18rem;
  border: solid 0.02rem #31afd0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: NanumBarunGothic;
  font-size: 0.15rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.25rem;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.box-title {
  position: relative;
  top: -0.13rem;
  width: 1.79rem;
  height: 0.24rem;
  background-color: #f3f3f3;
  font-family: NanumBarunGothic;
  font-size: 0.18rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #34a5dc;
}

.main-title {

  width: 1.62rem;
  height: 0.21rem;
  font-family: BMDoHyeon-OTF;
  font-size: 0.18rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5d5d5d;
}

.circles {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 5.4rem;
}

.circles-big {
  justify-content: center;
  width: 100%;
}

.blue-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.24rem;
  height: 1.24rem;
  box-shadow: 0 0.05rem 0.35rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-image: url("/site/images/landing-circle.png");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;

  text-shadow: 0 0.02rem 0.35rem rgba(0, 0, 0, 0.5);
  font-family: BMDoHyeon-OTF;
  font-size: 0.14rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.25rem;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.details {
  width: 100%;
  padding-left: 0.48rem;

  font-family: NanumBarunGothic;
  font-size: 0.14rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.25rem;
  letter-spacing: normal;
  color: #000000;
}

.point-text {
  color: #f06d20;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 0.74rem;
  padding: 0 0.5rem;
}

.submit-button {
  width: 1.46rem;
  height: 0.4rem;
  border-radius: 0.08rem;
  background-color: #fe7422;

  text-shadow: 0 0.02rem 0.25rem rgba(0, 0, 0, 0.5);
  font-family: NanumBarunGothic;
  font-size: 0.16rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.4rem;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  margin: 0;
}

.cancel {
  width: 0.68rem;
  height: 0.4rem;
  border-radius: 0.08rem;
  background-color: #8a8a8a;
  margin: 0 0.1rem;
}

.details-owned {
  width: 3.96rem;
  font-family: NanumBarunGothic;
  font-size: 0.12rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.25rem;
  letter-spacing: normal;
  color: #000000;
}