.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.main-section {
  width: 100%;
}

.title {
  
  height: 2.7rem;
  background-color: #dfdfdf;

  font-family: NanumBarunGothic;
  font-size: 1.6rem;
  
  line-height: 2.7rem;
  color: #5f5f5f;
}

.user-info {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 22.8rem;
  height: 14.4rem;
  padding-top: 1.5rem;
}

.name {
  font-family: NanumBarunGothic;
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
}

.stats-area {
}

.maker-stats {
  width: 6rem;
}

.figure {
  font-family: NanumBarunGothic;
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.keyword {
  font-family: NanumBarunGothic;
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.button-area {
  width: 100%;
  display: flex;
  justify-content: center;
}

.follow-button {
  width: 18.1rem;
  height: 2rem;
  border-radius: 1px;
  background-color: #f36d20;
  font-family: NanumBarunGothic;
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2rem;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  /*padding-top: 0.4rem;*/
  color: #ffffff;
}

.system-button {
  width: 8.7rem;
  height: 2rem;
  border-radius: 1px;
  border: solid 1px #676767;
  
  font-family: NanumBarunGothic;
  font-size: 1.1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 2rem;
  vertical-align: middle;
  /*padding-top: 0.4rem;*/
  color: #000000;

  margin: 0 0.35rem;
}

.important {
  background-color: #ff5b00;
  border: 0;
  color: #ffffff;
}

.col-name {
  height: 20px;
  font-family: NanumBarunGothic;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-left: 1.1rem;
}

.col-info  {
  height: 20px;
  font-family: NanumBarunGothic;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.col-selected {
  font-weight: bold;
  color: #ff5b00;
}

.history {
  width: 100%;
}

.history th {
  height: 20px;
  font-family: NanumBarunGothic;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: center;
  color: #777777;
}

.history th, .history td {
  border: solid 1px #dcdcdc;
  height: 2rem;
  vertical-align: middle;
}

.first-item {
  border-left: solid 0px;
}

.last-item {
  border-right: solid 0px;
}

.feature-area {
  margin: 0.9rem 2.1rem 0 0;
}

.feature-item {
  font-family: NanumBarunGothic;
  font-size: 1.2rem;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  font-weight: 30rem;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  display: flex;
  margin-top: 0.3rem;
}

.feature-title {
  height: 2rem;
  margin-right: 0.7rem;
  font-weight: normal;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */

  font-family: NanumBarunGothic;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #999999;

  background-color: #e7e7e7;
}

.feature {
  width: 100%;
  height: 2rem;
  padding: 0 0.7rem;
}

.editing {
  content: attr(placeholder);
  display: block; /* For Firefox */

  font-family: NanumBarunGothic;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;

  background-color: #e7e7e7;
}

.about-maker {
  font-family: NanumBarunGothic;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.about-maker p {
  margin: 0;
  margin-right: 2.8rem;
  margin-top: 0.8rem;
}

.ovalEmpty {
  width: 1.8rem;
  height: 1.8rem;
  border: solid 1px #676767;
  border-radius: 50%;
  margin-top: 0.8rem;
}

.ovalFill {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #676767;
  border: solid 1px #676767;
  border-radius: 50%;
  margin-top: 0.8rem;
}

.ability-section {
  width:100%;
  font-family: NanumBarunGothic;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.1rem;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  color: #4a4a4a;
  padding-right: 3.5rem;
}

.ability-title {
  width: 13.2rem;
  height: 3.1rem;
  border: solid 1px #676767;

}

.ability-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}