/* processed-version: 1.0 */
.main-section {
  width: 3.75rem;
  height: 100%;
  padding-top: 0.16rem;
  border-right: solid 0.02rem #dddddd;
  display: flex;
  flex-direction: column;
}

.add-company {
  display: flex;
  justify-content: flex-end;
  height: 0.22rem;
  align-items: flex-end;
}

.company-name-input {
  margin-top: 0.2rem;
  width: 2.0rem;
}