/* processed-version: 1.0 */
@import '../settings';
@import '../common/colors';
@import '../common/typography';

.message {
  display: none;
  padding: 0.12rem 0;
  border-radius: var(--globalRadius);
  color: var(--colorBlack);
  font-size: var(--fontMedium);
  text-align: center;
}

.show {
  display: block;
}

.success {
  background-color: var(--colorSalem);
  color: var(--colorWhite);
}
