/* processed-version: 1.0 */
.navigation {
  height: 1.45rem;
  background-color: #ffffff;
  padding: 0.37rem 0.41rem 0.25rem 0.3rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.logo-area {
  width: 3.07rem;
  height: 0.813rem;
  display: flex;
  flex-direction: column;
}

.logo-text {
  font-family: NanumBarunGothic;
  font-size: 0.13rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: right;
  color: #f16c1f;
}

.search-area {
  width: 4.0rem;
  height: 0.36rem;
  border-radius: 0.12rem;
  box-shadow: 0 0.1rem 0.55rem 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  border: solid 0.01rem #979797;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 0.1rem;

}

.search-input {
  width: 3.25rem;
  height: 100%;
  display: inline-block;
  background: none;
  border: none;
  outline: none;
  margin: 0 0.2rem;

  font-family: NanumBarunGothic;
  font-size: 0.15rem;
  color: #000000;
}

.option-area {
  width: 1.876rem;
  height: 0.36rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.option-area-loggedin {
  width: 1.176rem;
}

.user-menu-base {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-space {
  height: 0.5rem;
  width: 100%;
}

.outside {
  display: inline-block;
  width: 50%;
  height: 100%;
}

.arrow {
  position: absolute;
  top: 0.5rem;
  right: 0.25rem;
  width: 0.15rem;
  height: 0.15rem;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.arrow-cover {
  z-index: 11;
}

.user-menu-area {
  width: 1.44rem;
  margin-top: 0.08rem;
  background-color: #ffffff;
  z-index: 9;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.user-menu-shadow {
  box-shadow: 0 0.05rem 0.25rem 0 rgba(173, 173, 173, 0.5);
}

.user-menu-item {
  width: 100%;
  height: 0.3rem;
  padding-left: 0.36rem;
  vertical-align: middle;

  font-family: NanumBarunGothic;
  font-size: 0.12rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.3rem;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  cursor: pointer;
}

.user-menu-item:hover {
  background-color: #dfdfdf;
}

.login-button {
  font-family: NanumBarunGothic;
  font-size: 0.12rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.36rem;
  letter-spacing: normal;
  text-align: center;
  color: #979797;

  width: 1.09rem;
  height: 0.36rem;
  border-radius: 0.12rem;
  border: solid 0.01rem #979797;
}

.item {
  display: inline-block;
  text-decoration: none;
  padding: 0.16rem 0.32rem;
}

.logo {
}

.active {
}


.footer-area {
  height: 1.32rem;
  width: 100%;
  padding: 0.21rem;
  font-family: NanumBarunGothic;
  font-size: 0.14rem;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  font-weight: 300;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 10.24rem;
  height: 0.2rem;
  margin-bottom: 0.2rem;
}

.menu-item {
  margin: 0 0.11rem;

  font-family: NanumBarunGothic;
  font-size: 0.16rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #777777;
}

.company-info {
  width: 8.0rem;
}

.company-info label {
  margin: 0 0.07rem 0.03rem;
  font-family: NanumBarunGothic;
  font-size: 0.12rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #757575;
}