.navigation {
  height: 145px;
  background-color: #ffffff;
  padding: 3.7rem 4.1rem 2.5rem 3.0rem;
  display: flex;
  align-items: flex-end;
}

.logo-area {
  width: 30.7rem;
  height: 8.13rem;
  display: flex;
  flex-direction: column;
}

.logo-text {
  font-family: AppleSDGothicNeo;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: right;
  color: #f16c1f;
}

.search-area {
  flex:1;
  height: 36px;
  border-radius: 12px;
  box-shadow: 0 10px 55px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  border: solid 0.5px #979797;
  display: flex;
  align-items: center;
  margin: 0 4.7rem 0 20rem;
}

.search-input {
  display: inline-block;
  background: none;
  color: #f16c1f;
  border: none;
  outline: none;
  margin: 0 2rem;
  width: 100%;
}

.option-area {
  width: 18.76rem;
  height: 3.6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}



.login-button {
  font-family: NanumBarunGothic;
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.6rem;
  letter-spacing: normal;
  text-align: center;
  color: #979797;

  width: 10.9rem;
  height: 3.6rem;
  border-radius: 1.2rem;
  border: solid 0.05rem #979797;
}

.item {
  display: inline-block;
  text-decoration: none;
  padding: 16px 32px;
}

.logo {
}

.active {
}


.footer-area {
  height: 13.2rem;
  width: 100%;
  padding: 2.1rem;
  font-family: AppleSDGothicNeo;
  font-size: 1.4rem;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  font-weight: 300;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 102.4rem;
  height: 2rem;
  margin-bottom: 2rem;
}

.menu-item {
  margin: 0 1.1rem;

  font-family: NanumBarunGothic;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #777777;
}

.company-info {
  width: 80rem;
}

.company-info label {
  margin: 0 0.7rem 0.3rem;
  font-family: NanumBarunGothic;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #757575;
}