/* processed-version: 1.0 */

.main-section {
  display: inline-block;
  width: 2.14rem;
  height: 2.67rem;
  margin: 0 0.09rem 0.09rem 0;

  background-color: #ffffff;
  box-shadow: 0 0.05rem 0.35rem 0 rgba(163, 163, 163, 0.5);
}

.wide {
  width: 4.37rem;
}
.text {
  position: relative;
}

.text h1, .text p {
  margin: 0.0rem;
  font-family: NanumBarunGothic;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.text-section {
  width: 2.14rem;
  height: 0.54rem;
  padding-top: 0.09rem;
}

.text-section-wide {
  width: 4.37rem;
  height: 0.54rem;
  padding-top: 0.09rem;
  display: flex;
  justify-content: center;
}

.type2 {
  display: flex;
  align-items: flex-start;
}

.text h1 {
  font-size: 0.15rem;
  font-weight: bold;
  line-height: 1.33;

  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.text p {
  font-size: 0.12rem;
  font-weight: 200;
  line-height: 1.67;

  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.type2 h1, .type2 p {
  text-align: left;
  width: 1.5rem;
}

.type2.text-section-wide h1, .type2.text-section-wide p {
  width: 3.5rem;
}

.profile-image {
  margin: 0 0.1rem;
  border-radius: 50%;
}

.company-image {
  margin: 0 0.18rem 0 0.12rem;
}

.add-portfolio {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  margin: 0.62rem 0;
}

.add-portfolio-title {
  margin-bottom: 0.1rem;
  font-family: NanumBarunGothic;
  font-size: 0.2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ff5b00;
}

.add-portfolio-icon {
  user-select: none;
  margin-top: 0.11rem;
}

.horizontal {
  width: 0.53rem;
  height: 0.04rem;
  background: #ffffff;
  position: relative;
  left : 0.01rem;
  top: 0.35rem;
}

.vertical {
  height: 0.53rem;
  width: 0.04rem;
  background: #ffffff;
  position: relative;
  left : 0.15rem;
  top : 0.0rem;
}

.windows {
  display: flex;
  justify-content: space-between;
}

.big-window {
  width: 3.24rem;
  height: 2.13rem;
}

.middle-window {
  width: 2.14rem;
  height: 2.13rem;
}

.small-windows {
  height: 2.13rem;
  display: inline-flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: center;
}

.small-window {
  margin-left: 0.01rem
}

.extras {
  width: 1.11rem;
  height: 1.06rem;
  font-family: NanumBarunGothic;
  font-size: 0.15rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06rem;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  color: #bdbdbd;
}

.locked {
  position: absolute;
  right: 0.05rem;
  top: 0.05rem;
  /*float: right;*/
  /*margin-right: 0.1rem;*/
}