/* processed-version: 1.0 */

.main-section {
  display: inline-block;
  width: 1.6rem;
  height: 2.15rem;
  margin: 0 0.2rem 0.2rem 0;

  background-color: #ffffff;
  box-shadow: 0 0.05rem 0.35rem 0 rgba(163, 163, 163, 0.5);
}

.text h1, .text p {
  margin: 0.0rem;
  font-family: AppleSDGothicNeo;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.text-section {
  width: 1.6rem;
  height: 0.55rem;
  padding-top: 0.09rem;
}

.text h1 {
  font-size: 0.15rem;
  font-weight: 500;
  line-height: 1.33;
}

.text p {
  font-size: 0.12rem;
  font-weight: 200;
  line-height: 1.67;
}

.profile-image {
  margin: 0 0.1rem;
  border-radius: 50%;
}

.add-product {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  margin: 0.36rem 0;
}

.add-product-title {
  margin-bottom: 0.1rem;
  width: 1.0rem;
  font-family: NanumBarunGothic;
  font-size: 0.2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ff5b00;
}

.add-product-icon {
  user-select: none;
  margin-top: 0.11rem;
}

.horizontal {
  width: 0.53rem;
  height: 0.04rem;
  background: #ffffff;
  position: relative;
  left : 0.01rem;
  top: 0.35rem;
}

.vertical {
  height: 0.53rem;
  width: 0.04rem;
  background: #ffffff;
  position: relative;
  left : 0.15rem;
  top : 0.0rem;
}