/* processed-version: 1.0 */
.main-section {
  width: 100%;
}

.empty-profile {
  background-color: #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.49rem;
  height: 2.48rem;
}

.feature-area {
  margin: 0.2rem 0.21rem 0 0;
}

.feature-item {
  font-family: NanumBarunGothic;
  font-size: 0.12rem;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  font-weight: 3.0rem;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  display: flex;
  margin-top: 0.03rem;
}

.feature-title {
  height: 0.2rem;
  margin-right: 0.07rem;
  font-weight: bold;
}

.feature {
  width: 100%;
  min-height: 0.2rem;
  padding: 0 0.07rem;
}

.editing {
  content: attr(placeholder);
  display: block; /* For Firefox */

  font-family: NanumBarunGothic;
  font-size: 0.12rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;

  background-color: #e7e7e7;
}

.system-button-area {
  text-align: center;
}

.system-button {
  width: 0.87rem;
  height: 0.2rem;
  border-radius: 0.01rem;
  border: solid 0.01rem #676767;

  font-family: NanumBarunGothic;
  font-size: 0.11rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 0.2rem;
  vertical-align: middle;
  color: #000000;

  margin: 0 0.035rem;
}
