/* processed-version: 1.0 */
.main-section {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  width: 100%;
}

.main-section section {
  margin-bottom: 0.52rem
}

.projects-section {
  width: 14.55rem;
  padding: 0.25rem 0.55rem 0.65rem;
}

.projects-section .title {
  font-family: NanumBarunGothic;
  font-size: 0.2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #a2a2a2;
  margin-bottom: 0.2rem;
}
.projects-section .small-title {
  display: inline-block;
  font-family: NanumBarunGothic;
  font-size: 0.12rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a2a2a2;
  margin-left: 0.1rem;
}

.project-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.maker-card {
  display: inline-block;
  margin-right: 0.1rem;
}