@import '../common/typography';

.main-section {
  @apply --normal;

  height: 9.2rem;
  width: 100%;
  text-align: center;
  line-height: 9.2rem;
  vertical-align: middle;
  background-color: #bcbcbc;
}

.thumbnail {    
  height: 4rem;
  width: 4rem;
  margin-right:2.3rem;
}

.bar {
  display: inline-block;
}

.title {
  width: 13.6rem;
  height: 3.5rem;
  line-height: 3.5rem;
  font-family: NanumBarunGothic;
  font-size: 3.0rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  vertical-align: middle;
  color: #000000;
}

.description { @apply --normal; }
.contribute { @apply --small; }
