
.main-section {
  height: 9.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: NanumBarunGothic;
  font-size: 3.0rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #000000;
  margin-left:2.3rem;
  margin-top: 0.5rem;
}

